<p><b>Titel:</b> <%= @content_block.name %></p>
<!-- <p><b>Show in section: </b><%# @content_block.section.name %></p> -->
<p><b>Beskrivelse:</b> <%= @content_block.description %></p>
<p><b>Rækkefølge:</b> <%= @content_block.order %></p>
